<div class="container">
    <div class="circle"></div>
    <div class="circle1"></div>
    <div class="card">
     <h1 class="title">
       <span class="barandTitle">ADVOCATE</span>  DIGITAL PRODUCTION Agency
     </h1>
     <p class="description">Create live Segmens And taget right people for message based on their bhevaiour</p>
   
      <button class="button">DISCOVER</button>
    </div>
    <div class="card">
      <img src="/assets/img/Avocado.png" alt="" width="100%" height="100%" >
    </div>
</div>
