<div class="container">
    <div class="cartl">
        <h1 class="title">ADVOCATE CREATIVES</h1>
        <h1 class="linkTitle">
            <span class="linktext">WORK WITH US</span>
            <img src="/assets/img/link.png" alt="" width="40px" height="40px">
        </h1>
    </div>
    <div class="carts">
        <div class="cartitem">
            12 Adama Street <br>INDIA
        </div>
        <div class="cartitem">
            Sangu@gmail.com <br> 234 567 2378
        </div>
    </div>
    <div class="carts">
        <div class="cartitem">
         FOLLOW US: <br>
         _FB_IN_LINk_TW
        </div>
        <div class="cartitem">
             2022 Adi <br> All Rights Reserved
        </div>
    </div>
</div>