.container{
    height: 100px;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    padding: 50px;
}
.title{
    font-weight: 400;
    color: whitesmoke;
    background-color: green;
    padding: 5px;
    width: max-content;
}
.linkTitle{
    text-decoration:underline;
    display: flex;
    align-items: center;
}
.linktext{
   margin-right: 10px;
}
.cartl{
flex: 2;
}
.carts{
flex: 1;
}
.cartitem{
   
    margin-bottom: 4px;
}