<!-- <div id="nav">
    <div class="navTop">
        <div class="navItem">
            <img src="./img/sneakers.png" alt="">
        </div>
        <div class="navItem">
            <div class="search">
                <input type="text" placeholder="Search..." class="searchInput">
                <img src="./img/search.png" width="20" height="20" alt="" class="searchIcon">
            </div>
        </div>
        <div class="navItem">
            <span class="limitedOffer">Limited Offer!</span>
        </div>
    </div>
    <div class="navBottom">
        <h3 class="menuItem">AIR FORCE</h3>
        <h3 class="menuItem">JORDAN</h3>
        <h3 class="menuItem">BLAZER</h3>
        <h3 class="menuItem">CRATER</h3>
        <h3 class="menuItem">HIPPIE</h3>
    </div>
  </div> -->
<!-- sticky navabar -->
<!-- <div class="container">
    <div class="item">
      <div class="callButton">
        <img src="/assets/img/telephone.png" alt="teliphone" width="30" height="30">
      </div>
      <div  class="texts">
        <div  class="text">ORDER NOW!</div>
        <div  class="text">012 345 678</div>
      </div>
    </div>
    <div  class="item">
      <ul  class="list">
        <li  class="listItem">Homepage</li>
        <li  class="listItem">Products</li>
        <li  class="listItem">Menu</li>
        <li  class="listItem">Events</li>
        <li  class="listItem">Blog</li>
        <li  class="listItem">Contact</li>
      </ul>
    </div>
    <div  class="item">
      <div class="cart">
        <img src="/assets/img/cart.png" width="25px" height="25px" alt="cart">
        <div class="counter">2</div>
      </div>
    </div>
  </div>
   -->
<!-- image navabar -->
   <!-- <div class="top">
  <div class="topLeft">
    <i class="topIcon fab fa-facebook-square"></i>
    <i class="topIcon fab fa-instagram-square"></i>
    <i class="topIcon fab fa-pinterest-square"></i>
    <i class="topIcon fab fa-twitter-square"></i>
  </div>
  <div class="topCenter">
    <ul class="topList">
      <li class="topListItem">
        <a class="link" to="/">
          HOME
        </a>
      </li>
      <li class="topListItem">ABOUT</li>
      <li class="topListItem">CONTACT</li>
      <li class="topListItem">
        <a class="link" to="/write">
          WRITE
        </a>
      </li>
       <li class="topListItem">LOGOUT</li>
    </ul>
  </div>
  <div class="topRight">

    <a class="link" to="/settings">
      <img class="topImg"
        src="https://images.pexels.com/photos/1858175/pexels-photo-1858175.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
        alt="" />
    </a>

    <ul class="topList">
      <li class="topListItem">
        <a class="link" to="/login">
          LOGIN
        </a>
      </li>
      <li class="topListItem">
        <a class="a" to="/register">
          REGISTER
        </a>
      </li>
    </ul>
    <i class="fa fa-search" ></i>
  </div>
</div> -->

<div class="container">
  <a href="" class="lintItem">NavaBar</a>
  <ul class="list">
    <li class="listItems">
      <a href="" class="lintItem">DESIGN</a>
    </li>
    <li class="listItems">
      <a href="" class="lintItem">DEVELOPEMT</a>
    </li>
    <li class="listItems">
      <a href="" class="lintItem">PRODUCTION</a>
    </li>
    <li class="listItems">
      <a href="" class="lintItem">PHOTHOGRAPHI</a>
    </li>
    <li class="listItems">
      <a href="" class="lintItem">CONTACT</a>
    </li><li class="listItems">
      <a href="" class="lintItem">ABoUT</a>
    </li>
  </ul>

  <div class="hamburger" (click)="menuClick()">
    <div class="line" ></div>
    <div class="line" ></div>
    <div class="line"></div>
  </div>
  <ul class="menu" *ngIf="isOpend"  >
    <li class="menuItems">
      <a href="" class="MeniItem">DESIGN</a>
    </li>
    <li class="menuItems">
      <a href="" class="MeniItem">DEVELOPEMT</a>
    </li>
    <li class="menuItems">
      <a href="" class="MeniItem">PRODUCTION</a>
    </li>
    <li class="menuItems">
      <a href="" class="MeniItem">PHOTHOGRAPHI</a>
    </li>
    <li class="menuItems">
      <a href="" class="MeniItem">CONTACT</a>
    </li><li class="listItems">
      <a href="" class="MeniItem">ABoUT</a>
    </li>
  </ul>
</div>