<!-- <div class="container">
    <h1 class="title">What We can Do?</h1>
    <h1 class="subtitle">Services we can help you with</h1>
    <div class="cardContainer">
        <div class="carcont">
            <span class="catogory">Title</span>
            <div class="media">
                <img src="/assets/img/dev.jpeg" alt="" width="100%" height="100%" style="object-fit: cover; ">
                <img src="/assets/img/photography.jpeg"  alt="" width="100%" height="100%" style="object-fit: cover; ">
                <img src="/assets/img/production.jpeg" alt=" " width="100%" height="100%" style="object-fit: cover; ">
                <img src="/assets/img/dev.jpeg" alt="" width="100%" height="100%" style="object-fit: cover; ">
            </div>
        </div>
    </div>
</div> -->
<div class=container>
    <div class="info">
        <h1 class="title">What We Can Do?</h1>
        <h1 class="subtitle">Services we can help you with</h1>
        <div class="services">
            <div class="service">
                <div class="catInfo">desc</div>
                <span class="cat">title</span>
                <div class="media">
                    <img src="/assets/img/dev.jpeg" alt="" width="100%" height="100%" style="object-fit: cover; ">
                </div>
            </div>
            <div class="service">
                <div class="catInfo">desc</div>
                <span class="cat">title</span>
                <div class="media">
                    <img src="/assets/img/production.jpeg" alt=" " width="100%" height="100%"
                        style="object-fit: cover; ">
                </div>
            </div>
            <div class="service">
                <div class="catInfo">desc</div>
                <span class="cat">title</span>
                <div class="media">
                    <img src="/assets/img/production.jpeg" alt=" " width="100%" height="100%"
                        style="object-fit: cover; ">
                </div>
            </div>
            <div class="service">
                <div class="catInfo">desc</div>
                <span class="cat">title</span>
                <div class="media">
                    <img src="/assets/img/dev.jpeg" alt="" width="100%" height="100%" style="object-fit: cover; ">
                </div>
            </div>
        </div>
    </div>
</div>